<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <!-- Replace com.yourpackage.alegny_provider with your actual package name -->

    <!-- Add permissions here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:label="عالجني مقدم خدمة"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvTRWCdvuX7Wp9tfMaCqANAeAX3inoQcE"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <!-- WhatsApp -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" /> <!-- WhatsApp Business -->

        <!-- Facebook -->
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />

        <!-- Instagram -->
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.lite" />

        <!-- TikTok -->
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.tiktok.lite" />

        <!-- YouTube -->
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.youtube.music" />

        <!-- General URL handling -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>
</manifest>